.ipynb_checkpoints/
__pycache__/
.DS_Store
env/
.idea/

# everything in the pyltv folder
pyltv/*

# ... except these folders
!pyltv/data
!pyltv/docs
!pyltv/queries

# ... and except these files
!pyltv/config.py
!pyltv/dbm.py
!pyltv/models.py
!pyltv/setup.py
!pyltv/pyltv.py
!pyltv/\[MX\] ARLTCatBoost Model.ipynb
!pyltv/\[PH\] ARLTCatBoost Model.ipynb
!pyltv/\[KE\] ARLTCatBoost Model.ipynb

# everything in the data folder, except
pyltv/data/*
!pyltv/data/model_dependencies/
!pyltv/data/historicals/
